[v-cloak] {
	display: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 15px/1.3'Open Sans', sans-serif;
	color: #5e5b64;
}
a,
a:visited {
	outline: none;
	color: #389dc1;
}
a:hover {
	text-decoration: none;
}
section,
footer,
header,
aside,
nav {
	display: block;
}
select {
    border: none;
}
#main {
    margin: 30px;
}
/*-------------------------
      The search input
--------------------------*/

.bar {
    background-color: #002145;
    width: 100%;
    padding: 25px 14px 25px;
    margin: 0 auto 20px;
    position: relative;
}
.bar input {
    background: #fff no-repeat 13px 13px;
    border: none;
    width: 100%;
    line-height: 19px;
    padding: 15px 0;
    border-radius: 2px;
    text-align: left;
    font-size: 14px;
    font-family: inherit;
    color: #000;
    font-weight: 400;
    outline: none;
    text-indent: 40px;
    margin-bottom: 0px;
}
.typeahead {
    width: calc(100% - 28px);
    position: absolute;
    background: white;
    z-index: 1;
}
.typeahead.active {
	display: block;
}
.typeahead div {
	display: flex;
	border-bottom: 1px solid lightgray;
}
.typeahead p+p {
	padding: 10px;
}
.typeahead p img {
	padding: 10px;
	width: 60px;
	height: 60px;
	object-fit: cover;
	max-width: unset;
}
.typeahead p span {
	border-bottom: 1px solid red;
}
.typeahead p:nth-child(2) {
	width: 70px;
}
.typeahead p:nth-child(3) {
	width: 1px;
	display: block;
	background: lightgrey;
	margin: 5px 0;
	padding: 0px;
}
.typeahead p:nth-child(4) {
	max-width: 66%;
}
.typeahead-index {
	display: block;
	padding: 5px;
	padding-left: 10px;
}
.hide {
  display: none;
}
table {
	list-style: none;
	/** width: 1200px;
     */
	margin: 0 auto;
	text-align: left;
	border-collapse: collapse;
}
table tr {
	border-bottom: 1px solid #ddd;
	padding: 10px;
	overflow: hidden;
}
table tr img {
	float: left;
	border: none;
	width: 60px;
	height: 60px;
	object-fit: cover;
	max-width: unset;
}
table tr td {
	font-weight: normal;
	color: #000;
	padding: 10px;
}
table tr th {
	text-align: center;
	font-weight: bold;
	color: #000;
	padding: 10px;
}
table tr td:nth-child(2) {
	text-align: center;
}
table tr td:nth-child(4) {
	width: 110px;
}
table tr:nth-child(even) {
	/** background-color: aliceblue;
     */
	;
}

table {
	width: 1000px;
}
table * {
	transition: all 0.3s ease;
}
table .visually-hidden {
	display: none;
}
table .course-section {
	border: none;
}
table td[colspan="6"] {
	text-align: left;
}
tr.course-name:hover {
	background-color: #ddd;
}

/* -----------------
     Vocabulary
 ------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
}
.vocabulary {
    padding: 0 0 40px;
}
.top {
    border-left: 7px solid #ccc;
    padding-left: 20px;
}
.content:nth-child(odd) .top {
    border-color: green;
}
.content {
    padding: 20px 0;
}
.bottom,
.switch,
.detail {
    padding-left: 27px;
    padding-top: 20px;
}
.switch {
    padding: 5px;
    margin-left: 27px;
    width: fit-content;
    border-radius: 3px;
}
.detail:not([class~="off"]) + .switch {
    margin-top: 20px;
}
.detail {
    transition: all 0.5s ease;
    height: 354px;
    overflow: hidden;
}
.off {
    height: 0;
}
.filter {
    font-size: 0;
    margin-top: 40px;
}
.box {
    color: #002145;
    border: 1px solid #002145;
    background-color: #fff;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}
.box:hover {
    color: #fff;
    background-color: #002145;
}
.filter div {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 150px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    padding: 5px;
}
.typeahead-item p:first-child {
    width: 150px;
    padding: 10px;
    word-break: break-all;
    border-right: 1px solid #ccc;
    margin-top: 10px;
}
.typeahead-item p:nth-child(2) {
    width: calc(100% - 150px);
}
.pagination {
    width: fit-content;
    margin: 20px auto 50px;
}
.pagination span {
    padding: 5px 8px;
    text-decoration: none;
    width: 50px;
    margin: 0 5px;
}
.letter {
    color: #fff;
}
.letter div {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
}
.letter div:hover {
    color: orange;
}
.letter .box {
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 20px;
    display: block;
    width: fit-content;
}
