<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type='text/javascript' src='dropdown.js'></script>
		<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form id="main" v-cloak>
      <div class="bar">
        <!-- Create a binding between the searchString model and the text field -->
        <input id="search" type="text" v-model="searchString" placeholder="Enter your search terms" autocomplete="off"/>
        <div class="typeahead">
          <template v-for="article in filteredArticles">
            <template v-if="article.isFirst">
              <div class="typeahead-index">{{article.term.substring(0, 1).toUpperCase()}}</div>
            </template>
            <div>
              <p>
                <a v-bind:href="article.definition_source">
                  <img v-bind:src="article.image" />
                </a>
              </p>
              <p v-html="article.term"></p>
              <p></p>
              <p v-html="article.highlighted"></p>
            </div>
          </template>
        </div>
      </div>
      <table>
        <tr>
          <th>Image</th>
          <th>Term</th>
          <th>Definition</th>
          <th>Example</th>
        </tr>
        <tr v-for="article in articles">
          <td>
            <a v-bind:href="article.definition_source">
              <img v-bind:src="article.image" >
            </a>
          </td>
          <td v-html="article.term"></td>
          <td>{{article.definition}}</td>
          <td>{{article.example}}</td>
        </tr>
      </table>
    </form>
    <script type='text/javascript' src='typeahead.js'></script>
  </body>
</html>